body{

margin:0;
font-family:Arial;
background:#0f0f1c;
color:white;
text-align:center;

overflow-x:hidden;

}

.inicio{

margin-top:80px;

}

button{

padding:15px 30px;
font-size:18px;
border:none;
border-radius:30px;
background:#ff4d6d;
color:white;
cursor:pointer;

}

button:hover{

background:#ff1f50;

}

.escondido{

display:none;

padding:30px;

}

.foto{

width:280px;

border-radius:20px;

margin:20px;

box-shadow:0 0 20px pink;

}

a{

display:inline-block;

margin-top:20px;

padding:15px;

background:white;

color:#ff1f50;

text-decoration:none;

border-radius:20px;

font-weight:bold;

}

footer{

margin:60px;

font-size:22px;

}

.heart{

position:fixed;

top:-10px;

font-size:20px;

animation:cair 8s linear infinite;

}

@keyframes cair{

0%{

transform:translateY(-10px);

}

100%{

transform:translateY(110vh);

}

}